<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC1B30A42A08DF36006E5EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1B30BA2A08DF38006E5EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1B30C42A08DF38006E5EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
